{% extends "base.html" %}
{% load static %}

{% block title%}
<title>Página Inicial</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="news">
    {% for new in news %}
    <div class="news">
        <h2 class="news-title">{{ news.title }}</h2>
        <span class="news-date">{{ new.created_at|date:"d/m/Y" }}</span>
        <img src="{% static new.image.url %}" alt="{{ news.title }}" class="news-image" />
    </div>
    {% endfor %}
</div>
{% endblock %}