{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %} {% block title %}
<title>Página Inicial</title>
{% endblock %}

{% block content %}
{% for new in news %}
<div class="news">
    <h2 class="news-title">{{ new.title }}</h2>
    <span class="news-date">{{ new.created_at|date:"d/m/Y" }}</span>
    {% if new.image %}
    <img src="{% static new.image.url %}" alt="{{ new.title }}" class="news-image" />
    {% endif %}
</div>
{% endfor %}
{% endblock %}